.products{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr)) ;
}
    
.product {
    border: 2px solid rgb(31, 28, 28);
    padding: 10px;
    text-align: center;
}
    
.product img {
        width: 150px;
        height: 150px;
        border-radius: 5px;
}
    
.name{
        height: 45px;
}
    