th,td {
    border: 2px solid black;
  }
table {
    width: 100%;
  }
.active {
    border:  1px solid green;
    background-color: rgb(159, 212, 159);
    }
    
.inactive {
        border:  1px solid red;
        background-color: rgb(228, 212, 212);
    }
.image2-blurred {
        height: 100px;
        width: 100px;
         filter:grayscale(100%) 
        /*opacity: 0,2 */
    } 