.center {
  text-align: center;
  margin-top: 50px;
}
 .lang{
  width: 30px;
  height: 30px;
  margin: 5px;
 }
 .lang:hover{
  cursor:pointer;
  opacity: 0,7;
}

.lang:active{
  padding: 1px;
}
.map{
  height: 300px;
  margin: 20px ;
  border-radius: 10px;
}

.image2 {
  width: 100px;
  height: 100px;
}
.cart {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  filter: invert(100%);
}
.cart:hover {
  cursor:pointer;
  opacity: 0,7;
}
.cart:active {
  padding: 1px;
}
.shoppingcart3-con{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}
.moving-icon {
  animation: moveIcon 2s infinite alternate;
  width: 200px;
  height: 200px;
  
}

@keyframes moveIcon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

.loading {
width: 350px;
height: 300px;
display: flex;
align-items: center;
justify-content: center;
}
.money{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartsumvalue {
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
.logout{
  width: 26px;
  height: 26px;
  
}