.App {
  width: 100%;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
}

.frontpic {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  
}

@media (max-width: 700px) {
  .frontpic {
    min-height:30vh;
  }
}

