.App {
  width: 100%;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}



body {
  padding: 0;
  margin: 0;
}

.frontpic {
  width: 15vw; /* Relative width based on viewport width */
  height: 15vw;
  border-radius: 15px;
  
}

@media (max-width: 700px) {
  .frontpic {
    width: 30vw; /* Adjust width for smaller screens */
    height: 30vw;
  }
}

