.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 45vh; 
  }
  
  .centered-form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .big-label {
    font-size: 20px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add spacing between labels and inputs */
  }
  .big-input {
    font-size: 20px; /* Adjust the font size as needed */
    padding: 10px; /* Add padding to make the inputs bigger */
    width: 100%; /* Ensure the input fields expand to the full width */
    margin-bottom: 10px; /* Add spacing between inputs */
  }
  .send {
    font-size: 20px; 
    color:rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    background-color:white
  }
  .send:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
    color: #e9d35b;
    background-color:blue;
    
  }
  .big-textarea {
    font-size: 16px; /* Adjust the font size as needed */
    padding: 10px; /* Add padding to make the textarea bigger */
    width: 100%; /* Ensure the textarea expands to the full width */
    resize: vertical; /* Allow vertical resizing of the textarea */
    margin-bottom: 10px;
  }
  
  
  
  
  @media (max-width: 768px) {
    .contact-container {
      justify-content: flex-end; 
    }
  }
  
